<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.Mapper.BlogMapper">
<select id="findAllblog" resultType="BlogUrl">
    select blog_url blogUrl,name,place, work,readNum,articleNum from expert ORDER BY readNum DESC
</select>
    <select id="findblogByClass" resultType="BlogUrl">
        select title,time date from article inner join category on article.cid=category.cid where category.name=#{className}
        ORDER BY  date desc
    </select>

</mapper>
