<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.Mapper.ExpertUrlMapper">
    <insert id="insertExpertUrl" parameterType="ExpertUrl">
        insert into expert_url (blog_name, expert_url, avatar_url,name, place, work, article_num, read_num)
        values (#{blogName},#{expertUrl},#{avatarUrl},  #{name}, #{place}, #{work}, #{articleNum}, #{readNum})
    </insert>

    <select id="getAllExpertUrl" resultType="ExpertUrl">
        select
            eid,
            expert_url expertUrl,
            name,
            place,
            work,
            read_num readNum,
            article_num articleNum
        from expert_url
        where eid <![CDATA[ >=]]> 78
    /*   <![CDATA[ && ]]>
        eid<![CDATA[<]]>100*/
    </select>
    <!--反引号加的我也很迷-->
   <update id="updateBlogUrl">
       update `expert_blog_url` set `title`=#{title},`time`=#{time},`read`=#{read},`comment`=#{comment} where `blog_url`=#{blogUrl}

   </update>
<insert id="insertBlogUrl" parameterType="BlogUrl">
    insert into expert_blog_url(eid,blog_url )value (#{eid},#{blogUrl})
</insert>

</mapper>