<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.Mapper.ExpertBlogMapper">
<select id="getAllBlog" resultType="Blog">
    select  blog_url blogUrl,title,time,read_num readNum,comment_num commentNum from expert_blog_url order by read_num desc
</select>


</mapper>
