<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!--
        namespace：必须与对应的接口全类名一致  UserMapper.java
        id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。
     -->
    <mapper namespace="com.blog.Mapper.UserMapper">
    <select id="getPrivilege" resultType="string">
        select p.privilege from user u inner join privilege p on u.user_id=p.id
        where u.user_name=#{userName}
    </select>
    <select id="getUserByName" resultType="User">
        select user_id id,user_name userName,user_password password,user_salt salt from user where user_name=#{userName}
    </select>
    <select id="getId" resultType="int">
        select user_id from user where user_name=#{userName}
    </select>
    <!-- 新增用户-->
    <insert id="addUser" parameterType="User"  >
        insert into user(user_name,user_password,user_salt,user_email,user_created) values (#{userName},#{password},#{salt},#{email},#{created})
    </insert>

    <!-- 修改 -->
    <update id="updateUser" parameterType="User" >
        update user set user_name=#{userName},user_password=#{password} where user_id=#{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteUser" parameterType="int">
        delete from user where user_id=#{id}
    </delete>

    <!-- 根据id查找单个用户 -->
    <select id="findUserById" parameterType="int" resultType="User">
        select user_id id,user_name userName,user_password password ,p.privilege "userPrivilege.privilege"
        from user inner  join privilege p on user.user_id=p.id where user_id=#{id}
    </select>


    <!-- 查询所有 -->
    <!--将权限表内嵌到user表中-->
    <select id="findAll" resultType="User">
        select user_id id,user_name userName,user_password password,p.privilege "userPrivilege.privilege" from user
        inner join privilege p on user.user_id=p.id
    </select>
</mapper>